---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("philosophy");
const page = entries[0];
const { Content } = await page.render();
---

<BaseLayout title="Tamthe">
    <main>
        <Content />
    </main>

    <nav>
        <a href="/writing">Writing</a>
    </nav>
</BaseLayout>
